In [ ]:
import pandas as dp
import numpy as np

df = dp.DataFrame(
    np.random.random((4,3)),
    index=('a','c','d','f'),
    columns=['one','two','three']
)

df = df.reindex(['a','b','c','d','e','f'])

print("Original DataFrame with NaN\n", df)
print('\n')

print("Dropped DataFrame\n", df.dropna())
print('\n')

Original DataFrame with NaN
         one       two     three
a  0.820325  0.644701  0.019113
b       NaN       NaN       NaN
c  0.973096  0.389225  0.892178
d  0.512482  0.903722  0.320912
e       NaN       NaN       NaN
f  0.087875  0.489858  0.300737


Dropped DataFrame
         one       two     three
a  0.820325  0.644701  0.019113
c  0.973096  0.389225  0.892178
d  0.512482  0.903722  0.320912
f  0.087875  0.489858  0.300737

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4, 3),
                  index=['a', 'c', 'd', 'f'],
                  columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f'])
print("Original Dataframe with NaN\n", df)
print("\n")
print("Dropped DataFrame\n", df.dropna())
print("\n")

Original Dataframe with NaN
         one       two     three
a -0.930961 -0.243207  1.106136
b       NaN       NaN       NaN
c  1.302615 -2.026727  0.257344
d  1.561775  0.036313 -0.825687
e       NaN       NaN       NaN
f  1.018089  0.165117 -0.607250


Dropped DataFrame
         one       two     three
a -0.930961 -0.243207  1.106136
c  1.302615 -2.026727  0.257344
d  1.561775  0.036313 -0.825687
f  1.018089  0.165117 -0.607250

In [2]:
df = pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'], columns=['one','two','three'])
df = df.reindex(['a','b','c'])
print("Original Dataframe:\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))

Original Dataframe:
         one       two     three
a -0.283768  0.825179  0.417682
b       NaN       NaN       NaN
c  0.028065  0.679811  1.077214


NaN replaced with '0':

        one       two     three
a -0.283768  0.825179  0.417682
b  0.000000  0.000000  0.000000
c  0.028065  0.679811  1.077214

In [3]:
df = pd.DataFrame({'one':[10,20,80,40,50], 'two':[60,70,80,0,10]})
print("Original Dataframe:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original Dataframe:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [4]:
df = pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'], columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",df)
print("\nNan-with True fill:\n")
print(df['one'].isnull())

Original Dataframe:
         one       two     three
a -1.007069  0.628852 -1.328384
b       NaN       NaN       NaN
c  1.298542  0.314023  0.745627
d  1.127663  0.100644  0.628545
e       NaN       NaN       NaN
f -0.904505  0.777613 -1.669475

Nan-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [5]:
df = pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'], columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",df)
print("\nNaN - Filled with Background Values:\n")
print(df.fillna(method='bfill'))

Original Dataframe:
         one       two     three
a  0.955597  0.888565 -0.543830
b       NaN       NaN       NaN
c -0.864259  0.184589 -0.213596
d -0.623098  0.544813 -0.899594
e       NaN       NaN       NaN
f  0.302967 -0.975654 -1.308802

NaN - Filled with Background Values:

        one       two     three
a  0.955597  0.888565 -0.543830
b -0.864259  0.184589 -0.213596
c -0.864259  0.184589 -0.213596
d -0.623098  0.544813 -0.899594
e  0.302967 -0.975654 -1.308802
f  0.302967 -0.975654 -1.308802

/tmp/ipython-input-487362110.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='bfill'))