In [2]:
import pandas as pd
import numpy as np
#DataFrame.Apply Function
print("DataFrame.apply function:\n")
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("\nOriginal DataFrame:\n",info)
print("\nSquare root of DataFrame:\n",info.apply(np.sqrt))
print("\nSum of each columns:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:


Original DataFrame:
    P  Q
0  2  7
1  2  7
2  2  7

Square root of DataFrame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each columns:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [3]:
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns=['X','Y','Z'])
print("\nOriginal DataFrame:\n",info)
print("\nMinimum and Maximum of each column:\n")
print(info.agg(['min','max']))

Original DataFrame:
    X  Y  Z
0  1  5  7
1  2  7  8
2  3  6  9

Minimum and Maximum of each column:

     X  Y  Z
min  1  5  7
max  3  7  9

In [7]:
#DataFrame.Assign Function
print("\nDataFrame.Assign Function:\n")
d2=pd.DataFrame([['Gopika',123],['Sangeetha',143]],columns=['Emp','ID'])
print("\nOriginal DataFrame:\n",d2)
d2['Age']=[19,18]
print("\nAdding new column:\n",d2)
d=d2.assign(Sex=['Female','Female'])
print("\nAdding new column:\n",d)

DataFrame.Assign Function:


Original DataFrame:
          Emp   ID
0     Gopika  123
1  Sangeetha  143

Adding new column:
          Emp   ID  Age
0     Gopika  123   19
1  Sangeetha  143   18

Adding new column:
          Emp   ID  Age     Sex
0     Gopika  123   19  Female
1  Sangeetha  143   18  Female

In [9]:
#DataFrame.Sort Frame
print("\nDataFrame.Sort Function:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index
print("\nSort index:\n",info2)
#info=pd.DataFrame({'col1':[7,1,8,3],'col2':[8,12,4,9]})
info3=info.sort_values(by='col3')
print("\nSort Values:\n",info3)

DataFrame.Sort Function:

       col3      col4
3 -0.668987  1.331940
2 -0.183971 -0.004049
0 -2.257735 -1.094691
4 -2.002271  1.008287
1  0.035934 -1.256119

Sort index:
 <bound method DataFrame.sort_index of        col3      col4
3 -0.668987  1.331940
2 -0.183971 -0.004049
0 -2.257735 -1.094691
4 -2.002271  1.008287
1  0.035934 -1.256119>

Sort Values:
        col3      col4
0 -2.257735 -1.094691
4 -2.002271  1.008287
3 -0.668987  1.331940
2 -0.183971 -0.004049
1  0.035934 -1.256119

In [17]:
import pandas as pd

print("\nDataFrame Merge Function:\n")

# Fixed: sub list now has exactly 5 values
left = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'sub': ['sub1', 'sub2', 'sub3', 'sub4', 'sub5']  # Removed extra 'sub5'
})

right = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'Name': ['Billy', 'Brain', 'Bran', 'Bryce', 'Betty'],
    'sub': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5']
})

print("Left:")
print(left)
print("\nRight:")
print(right)
print("\nMerged:")
result = pd.merge(left, right, on='id')
print(result)

DataFrame Merge Function:

Left:
   id    Name   sub
0   1    Alex  sub1
1   2     Amy  sub2
2   3   Allen  sub3
3   4   Alice  sub4
4   5  Ayoung  sub5

Right:
   id   Name   sub
0   1  Billy  sub2
1   2  Brain  sub4
2   3   Bran  sub3
3   4  Bryce  sub6
4   5  Betty  sub5

Merged:
   id  Name_x sub_x Name_y sub_y
0   1    Alex  sub1  Billy  sub2
1   2     Amy  sub2  Brain  sub4
2   3   Allen  sub3   Bran  sub3
3   4   Alice  sub4  Bryce  sub6
4   5  Ayoung  sub5  Betty  sub5