In [1]:
#Open a text file in 'Write' mode to write the given lines
f=open("D:\textfile.txt",'w')
f.write("First line\n")
f.write("Second line\n")
f.write("Third line\n")
f.close()
#Open a text file in 'Read' mode to read and print the available lines=readline function
k=open("D:\textfile.txt",'r')
print(k.readline())
print(k.readline())
print(k.readline())
k.close()

First line

Second line

Third line

In [2]:
#Open a text file in 'Append' mode to add/append new line input
m=open("D:\textfile.txt",'a')
m.write("Fourth line\n")
m.write("Fifth line\n")
m.close()

#Open a text file in 'Read' mode to read and print the available lines=readline function
p=open("D:\textfile.txt",'r')
print(p.read())
p.close()

First line
Second line
Third line
Fourth line
Fifth line

In [6]:
with open("D:\textfile.txt", "r") as file:
    lines = file.readlines()
    print(lines)

['First line\n', 'Second line\n', 'Third line\n', 'Fourth line\n', 'Fifth line\n']

In [7]:
import json
#JSON string
x='{"name":"john","age":30,"City":"New York"}'

#convert JSON
y=json.loads(x)
print(y["age"])

30

In [8]:
#Python dictionary
data={
    "name":"john",
    "age":30,
    "City":"New York"
}

#convert python dictionary to json string
json_data=json.dumps(data)
print(json_data)

{"name": "john", "age": 30, "City": "New York"}